/* dai 1157px in giù */

@media screen and (max-width:1157px) {
    .container{
        max-width: 750px;
    }
}



/* dai 768px in giù */

@media screen and (max-width:768px) {

    .container{
        width: 560px;
    }
    .text{
        font-size: 10px;
    }

    .steps .col {
        width:100%;
    }
    
    .col {
        margin-bottom: 20px;
        width: 100%;
    }
    
    .steps {
        margin: 0rem 0;
    }
}



/* dai 576px in giù */

@media screen and (max-width:576px){
    .container{
        max-width: 350px;

    }

   .row{ 
    align-items: center;
    display: flex;
    flex-direction: column
}

.text{
    font-size: 15px;
}

.lessons .col{
    width:100%;
}

.why-us{
    background-color: #222222;
    padding-bottom: 80px;
    margin-bottom: 0;
}

.why-us .container{
    padding-top: 100px;
}

.why-us .col-right {
    width: 100%;
}

.why-us .col-left {
    width: 100%;
    margin-bottom: 50px;

}



}


/* sotto i 370px */

@media screen and (max-width:370px){
    .container {
        max-width: 270px;
}

.site-header h1{
    font-size:30px
}
h2{
    font-size:25px;
}

}