/* dai 1157px in giù */

@media screen and (max-width:1157px) {
    .container{
        max-width: 800px;
    }
}



/* dai 7px in giù */

@media screen and (max-width:768px) {

    .container{
        max-width: 540px;
    }
    .text{
        font-size: 10px;
    }

}


@media screen and (max-width:576px){
    
}